@define-color accent_bg_color #f66151;
@define-color accent_color @orange_5;  /* #c64600 */

spinner {
    color: @accent_bg_color;
}

headerbar label {
    padding-left: 0;
    padding-right: 0;
}

searchbar > revealer > box {
    padding-left: 0px;
    padding-right: 0px;
}

/* Covers */
.cover-dropshadow {
    border-radius: 9px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, .07), 0 2px 6px 2px rgba(0, 0, 0, .03);
}

/* Library page */
flowbox flowboxchild {
    padding: 6px; /* default is 4px */
    border-radius: 12px; /* default is 6px */
}
flowbox flowboxchild:selected {
	background-color: @accent_bg_color;
}

.library-thumbnail-name-label {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-shadow: -1px 1px 0 #444, 1px 1px 0 #444, 1px -1px 0 #444, -1px -1px 0 #444;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    padding: 20px 8px 4px 8px;
}

.library-thumbnail-badge-unread-chapters {
    background-color: @blue_2;
}
.library-thumbnail-badge-downloaded-chapters {
    background-color: #f68276;
}
.library-thumbnail-badge-recent-chapters {
    background-color: @green_3;
}

/* Manga card page */
listview :last-child {
    border-bottom: none;
}

.badge {
    color: @accent_color;
    font-weight: bold;
    background-color: alpha(@accent_bg_color, 0.2);
    border: 1px solid @accent_bg_color;
    padding: 0 6px;
    margin-top: 3px;
    border-radius: 999px;
}

.synopsis-label {
    line-height: 1.25;
}

/* Reader page */
carousel slider {
    background-color: @accent_bg_color;
}

.reader-page-number-indicator-label {
    color: #fff;
    letter-spacing: 3px;
    /* bordered text */
    text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000, 0px -1px 0px #000;
    font-weight: bold;
    margin-bottom: 8px;
}

.background-black {
    background-color: rgba(0, 0, 0, 1);
}
.background-gray {
    background-color: rgba(36, 36, 36, 1);
}
.background-white {
    background-color: rgba(250, 250, 250, 1);
}

/* Explorer page */
.explorer-listboxrow {
    padding: 16px 12px;
}

.explorer-section-listboxrow {
    padding: 12px;
    font-weight: bold;
    background: @headerbar_bg_color;
    color: @headerbar_fg_color;
}

/* Download manager page */
.download-manager-download-listboxrow {
    border-bottom: 1px solid @borders;
    padding: 6px 6px 12px 6px;
}

/* History page */
.history-rounded-cover-frame {
    border-radius: 6px;
}
